swagger: "2.0"
info:
  description: "Search API"
  version: "1.0.0"
  title: "dp-search-api"
  license:
    name: "Open Government Licence v3.0"
    url: "http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
basePath: "/v1"
schemes:
  - "http"
tags:
  - name: "public"
  - name: "private"
paths:
  /data:
    get:
      tags:
        - public
      summary: "Data query API"
      description: "Data query API which returns matching links to department"
      parameters:
        - in: query
          name: uris
          type: string
          required: true
        - in: query
          name: types
          description: "Type of data returned"
          type: string
          required: true
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/DataResponse"
        500:
          description: Internal server error

  /departments/search:
    get:
      tags:
        - public
      summary: "Department query API"
      description: "Department query API which returns matching links to other departments"
      parameters:
        - in: query
          name: q
          description: "Query search term"
          type: string
          required: true
        - in: query
          name: limit
          description: "The number of items requested, defaulted to 50 and limited to 1000."
          type: integer
          required: false
        - in: query
          name: offset
          description: "The first row of resources to retrieve, starting at 0. Use this parameter as a pagination mechanism along with the limit parameter."
          type: integer
          required: false
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/DepartmentResponse"
        400:
          description: Query term not specified
        500:
          description: Internal server error

  /health:
    get:
      tags:
        - public
      summary: "Health check API"
      description: "API to query the app for current health status"
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/Health"
        500:
          description: Internal Server Error

  /search:
    get:
      tags:
        - public
      summary: "Default ONS query API"
      description: "Default ONS query API which combines the content with type counts"
      parameters:
        - in: query
          name: q
          description: "Query search term."
          type: string
          required: true
        - in: query
        
          name: content_type
          description: "Comma separated list of content types to be returned."
          type: array
          uniqueItems: true
          items:
            type: string
          collectionFormat: csv
          required: false
        - in: query
        
          name: topics
          description: "Comma separated topics to be returned."
          type: array
          uniqueItems: true
          items:
            type: string
          collectionFormat: csv
          required: false
        - in: query

          name: highlight
          description: "Determines whether to return HTML highlighted fields."
          type: boolean
          required: false
          default: true
        - in: query
          name: sort
          description: "The order to return the results."
          type: string
          required: false
        - in: query
          name: limit
          description: "The number of items requested, defaulted to 50 and limited to 1000."
          type: integer
          required: false
        - in: query
          name: offset
          description: "The first row of resources to retrieve, starting at 0. Use this parameter as a pagination mechanism along with the limit parameter."
          type: integer
          required: false
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/GetSearchResponse"
        400:
          description: Query term not specified
        500:
          description: Internal server error
    post:
     tags:
       - private
     summary: "Create new empty ONS Elasticsearch index"
     description: "Request a new search index and receive the name of the new index created in response. Endpoint requires service or user authentication."
     responses:
       200:
         description: OK
         schema:
           $ref: "#/definitions/PostSearchResponse"
       500:
         description: Internal server error

  /timeseries:
    get:
      tags:
        - public
      summary: "Query for timeseries data"
      description: "API to query the app for timeseries by id"
      parameters:
        - in: query
          name: cdid
          description: "The timeseries id."
          type: string
          required: true
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/TimeseriesResponse"
        500:
          description: Internal server error

definitions:

  DataResponse:
    type: object
    properties:
      responses:
        type: array
        description: "A json list containing data associated with a particular dataset"
        items:
          type: object
          properties:
            _shards:
              $ref: "#/definitions/ShardsItem"
            hits:
              $ref: "#/definitions/HitsObject"
            timed_out:
              type: boolean
            took:
              description: "Time taken to execute query in milliseconds"
              type: integer

  GetSearchResponse:
    type: object
    properties:
      count:
        type: number
        description: "Number of search results which match query"
        example: 80
      took:
        type: number
        description: "Time taken to execute query in milliseconds"
        example: 530
      content_types:
        type: array
        description: "List of content types included in results"
        items:
          $ref: "#/definitions/ContentType"
      topics:
        type: array
        description: "List of topics included in results"
        items:
          $ref: "#/definitions/Topics"
      items:
        type: array
        description: "List of matching content items for the current page"
        items:
          $ref: "#/definitions/ContentItem"
      suggestions:
        type: array
        description: "List of suggested alternative similar search queries"
        items:
          type: string
      alternative_suggestions:
        type: array
        description: "List of suggested alternative search queries from current search query"
        items:
          type: string
        example: ['UK', 'economy', "inflation rate"]
    required:
      - count
      - took
      - content_types
      - items

  PostSearchResponse:
    type: object
    properties:
      index_name:
        type: string
        description: "Name of new empty search index"
        example: "ons1636458168532"
    required:
      - index_name

  DepartmentResponse:
    type: object
    properties:
      count:
        type: number
        description: "Number of search results which match query"
        example: 80
      took:
        type: number
        description: "Time taken to execute query in milliseconds"
        example: 530
      items:
        type: array
        description: "List of matching content items for the current page"
        items:
          $ref: "#/definitions/DepartmentItem"
    required:
      - count
      - took

  ContentType:
    type: object
    properties:
      type:
        type: string
      count:
        type: integer
    required:
      - "type"
      - "count"

  Topics:
    type: object
    properties:
      type:
        type: string
      count:
        type: integer
    required:
      - "type"
      - "count"

  ContentItem:
    type: object
    properties:
      description:
        type: object
        properties:
          contact:
            type: object
            properties:
              email:
                type: string
              name:
                type: string
              telephone:
                type: string
            required:
              - name
              - email
          dataset_id:
            type: string
          edition:
            type: string
          highlight:
            $ref: "#/definitions/Highlight"
          headline1:
            type: string
          headline2:
            type: string
          headline3:
            type: string
          keywords:
            type: array
            items:
              type: string
          latest_release:
            type: boolean
          language:
            type: string
            example: "English"
          meta_description:
            type: string
          national_statistic:
            type: boolean
          next_release:
            type: string
            example: "14 August 2015"
          pre_unit:
            type: string
          release_date:
            type: string
            format: date-time
          source:
            type: string
          summary:
            type: string
          title:
            type: string
          unit:
            type: string
          topics:
            type: array
            items:
              type: string
        required:
          - summary
          - title
      type:
        type: string
      uri:
        type: string
    required:
      - description
      - type
      - uri
      
  Highlight:
    description: "Fields that contain at least 1 matching term from query 'q' parameter. The values contain the following embedded tags \"...<em class=\"highlight\">{matched term}</em>...\""
    type: object
    properties:
      dataset_id:
        type: string
      edition:
        type: string
      keywords:
        type: array
        items:
          type: string
      meta_description:
        type: string
      summary:
        type: string
      title:
        type: string
      topics:
        type: array
        items:
          type: string

  DepartmentItem:
    type: object
    properties:
      code:
        type: string
      name:
        type: string
      url:
        type: string
      terms:
        type: array
        items:
          type: string
      matches:
        type: array
        items:
          type: object
          properties:
            terms:
              type: array
              items:
                type: string

  Health:
    type: object
    properties:
      elasticsearch:
        type: string
      dp_fasttext:
        type: string
        example: available

  ShardsItem:
    type: object
    properties:
      failed:
        type: integer
      successful:
        type: integer
      total:
        type: integer

  HitsObject:
    type: object
    properties:
      hits:
        type: array
        items:
          $ref: "#/definitions/HitsItem"
      max_score:
        type: integer
      total:
        type: integer

  HitsItem:
    type: object
    properties:
      _id:
        type: string
      _index:
        type: string
      _score:
        type: integer
      _source:
        type: object
        properties:
          code:
            type: string
          name:
            type: string
          terms:
            type: array
            items:
              type: string
          url:
            type: string
      _type:
        type: string

  TimeseriesResponse:
    type: object
    properties:
      took:
        type: integer
        description: "Time taken to execute query in milliseconds"
        example: 530
      timed_out:
        type: boolean
      _shards:
        items:
          $ref: "#/definitions/ShardsItem"
      hits:
        type: array
        items:
          type: object
          properties:
            _index:
              type: string
            _type:
              type: string
              example: "timeseries"
            _id:
              type: string
            _score:
              type: string
            _source:
              type: object
              properties:
                uri:
                  type: string
      sort:
        type: array
        items:
          type: integer
