{{/* $$ indicates newline, each header and query MUST be on its own line - with a blank line at the end */}}
{{- template "contentHeader.tmpl" .}}$$
{{- template "contentQuery.tmpl" .}}$$
{{- template "countHeader.tmpl" .}}$$
{{- template "countQuery.tmpl" .}}$$