"function_score": {
"query": {  {{template "coreQuery.tmpl" .}} },

      "functions": [
        {
          "filter": {
            "term": {
              "_type": "bulletin"
            }
          },
          "weight": 100
        },
        {
          "filter": {
            "term": {
              "_type": "dataset_landing_page"
            }
          },
          "weight": 70
        },
        {
          "filter": {
            "terms": {
              "_type": ["article",
                        "statistical_article",
                        "compendium_landing_page",
                        "article_download"]
            }
          },
          "weight": 50
        },
        {
          "filter": {
            "term": {
              "_type": "static_adhoc"
            }
          },
          "weight": 30
        },
        {
          "filter": {
            "term": {
              "_type": "timeseries"
            }
          },
          "weight": 10
        }
      ]
  }