{{- /*gotype:github.com/ONSdigital/dp-search-api/query.ReleaseSearchRequest*/ -}}
ons
{
    "from": {{.From}},
    "size": {{.Size}},
    "sort": [{{.SortClause}}],
    "query": {
        "bool": {
            "must": {
                {{if .Term}}
                    {{$use := .Template}}
                    {{if eq $use "s"}}
                        {{template "simplequery.tmpl" .}}
                    {{else if eq $use "sw"}}
                        {{template "coreQuery.tmpl" .}}
                    {{else}}
                        {{template "query.tmpl" .}}
                    {{end}}
                {{else}}  "match_all": {}
                {{end}}
            },
            "filter": [
                {"term": {"type":"release"}},
                {"range": {
                     "release_date": {
                        "from": {{.ReleasedAfter.ESString}},
                        "to":  {{.ReleasedBefore.ESString}},
                        "include_lower": true,
                        "include_upper": true
                    }
                }},
                {{.ReleaseTypeClause}}
                {{if .Census}}
                    ,
                    {{.CensusClause}}
                {{end}}
             ]
        }
    },
    {{.HighlightClause}},
    "aggs":{
        "breakdown":{
            "filters":{
                "other_bucket_key":"confirmed",
                "filters":{
                    "provisional":{"term":{"finalised":false}},
                    "postponed":{
                        "bool":{
                            "must":[
                            {"term":{"finalised":true}},
                            {"exists":{"field":"date_changes"}}
                            ]
                        }
                    }
                }
            }
        },
        "census" : {
            "filters":{
                "filters":{
                    "census":{"term":{"survey":"census"}}
                }
            }
        }
    }
}
ons
{
    "size":0,
    "query": {
        "bool": {
            "must": {
                {{if .Term}}
                    {{$use := .Template}}
                    {{if eq $use "s"}}
                        {{template "simplequery.tmpl" .}}
                    {{else if eq $use "se"}}
                        {{template "simpleextendedquery.tmpl" .}}
                    {{else if eq $use "sw"}}
                        {{template "coreQuery.tmpl" .}}
                    {{else}}
                        {{template "query.tmpl" .}}
                    {{end}}
                {{else}}  "match_all": {}
                {{end}}
            },
            "filter": [
                {"term": {"type":"release"}},
                {"range": {
                    "release_date": {
                        "from": {{.ReleasedAfter.ESString}},
                        "to":  {{.ReleasedBefore.ESString}},
                        "include_lower": true,
                        "include_upper": true
                    }
                }}
                {{if .Census}}
                    ,
                    {{.CensusClause}}
                {{end}}
            ]
        }
    },
    "aggs":{
        "release_types":{
            "filters":{
                "other_bucket_key":"cancelled",
                "filters":{
                    "upcoming":{
                        "bool":{
                            "must":[
                                {"term":{"published":false}},
                                {"term":{"cancelled":false}},
                                {"range":{"release_date":{"gte":{{.Now}}}}}
                            ]
                        }
                    },
                    "outdated":{
                        "bool":{
                            "must":[
                                {"term":{"published":false}},
                                {"term":{"cancelled":false}},
                                {"range":{"release_date":{"lt":{{.Now}}}}}
                            ]
                        }
                    },
                    "published":{
                        "bool":{
                            "must":[
                                {"term":{"published":true}},
                                {"term":{"cancelled":false}}
                            ]
                        }
                    }
                }
            },
            "aggs":{
                "breakdown":{
                    "filters":{
                        "other_bucket_key":"confirmed",
                        "filters":{
                            "provisional":{"term":{"finalised":false}},
                            "postponed":{
                                "bool":{
                                    "must":[
                                        {"term":{"finalised":true}},
                                        {"exists":{"field":"date_changes"}}
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}$$