{{- /*gotype:github.com/ONSdigital/dp-search-api/query.ReleaseSearchRequest*/ -}}
{"index" : "ons", "type": ["release"], "search_type": "dfs_query_then_fetch"}
{
    "from": {{.From}},
    "size": {{.Size}},
    "sort": [{{.SortClause}}],
    "query": {
        "bool": {
            "must": {
                {{if .Term}}
                    {{- template "query.tmpl" . }}
                {{else}}  "match_all": {}
                {{end}}
            },
            "filter": [
                {
                    "range": {
                         "description.releaseDate": {
                            "from": {{.ReleasedAfter.ESString}},
                            "to":  {{.ReleasedBefore.ESString}},
                            "include_lower": true,
                            "include_upper": true
                        }
                    }
                },
                {{.ReleaseTypeClause}},
                {{.CensusClause}}
             ]
        }
    },
    {{.HighlightClause}},
    "aggs":{
        "breakdown":{
            "filters":{
                "filters":{
                    "provisional":{"term":{"description.finalised":false}},
                    "confirmed":{"term":{"description.finalised":true}},
                    "postponed":{
                        "bool":{
                            "must":[
                                {"term":{"description.finalised":true}},
                                {"exists":{"field":"dateChanges"}}
                            ]
                        }
                    }
                }
            }
        },
        "census" : {
            "filters":{
                "filters":{
                    "census" : { "term": { "census": "true" } }
                }
            }
        }
    }
}
{"index" : "ons", "type": ["release"], "search_type": "dfs_query_then_fetch"}
{
    "size":0,
    "query": {
        "bool": {
            "must": {
                {{if .Term}}
                    {{- template "query.tmpl" . }}
                {{else}}  "match_all": {}
                {{end}}
            },
            "filter": [
                {
                    "range": {
                        "description.releaseDate": {
                            "from": {{.ReleasedAfter.ESString}},
                            "to":  {{.ReleasedBefore.ESString}},
                            "include_lower": true,
                            "include_upper": true
                        }
                    }
                },
                {{.CensusClause}}
            ]
        }
    },
    "aggs":{
        "release_types":{
            "filters":{
                "filters":{
                    "upcoming":{
                        "bool":{
                            "must":[
                                {"term":{"description.published":false}},
                                {"term":{"description.cancelled":false}},
                                {"range":{"description.releaseDate":{"gte":{{.Now}}}}}
                            ]
                        }
                    },
                    "outdated":{
                        "bool":{
                            "must":[
                                {"term":{"description.published":false}},
                                {"term":{"description.cancelled":false}},
                                {"range":{"description.releaseDate":{"lt":{{.Now}}}}}
                            ]
                        }
                    },
                    "published":{
                        "bool":{
                            "must":[
                                {"term":{"description.published":true}},
                                {"term":{"description.cancelled":false}}
                            ]
                        }
                    },
                    "cancelled":{"term":{"description.cancelled":true}}
                }
            },
            "aggs":{
                "breakdown":{
                    "filters":{
                        "other_bucket_key":"confirmed",
                        "filters":{
                            "provisional":{"term":{"description.finalised":false}},
                            "postponed":{
                                "bool":{
                                    "must":[
                                        {"term":{"description.finalised":true}},
                                        {"exists":{"field":"dateChanges"}}
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}$$
