"simple_query_string" : {
    "query": "{{.Term}}",
    "fields": ["title_raw^10", "title_no_synonym_no_stem^8", "title^5", "summary^3", "edition^2", "keywords", "meta_description"],
    "default_operator": "or",
    "flags": "ALL"
}