"simple_query_string" : {
"query": "{{.Term}}",
"fields": ["title^3", "summary^2", "edition", "keywords", "meta_description"],
"default_operator": "or",
"flags": "AND|OR|NOT|PRECEDENCE|PHRASE|PREFIX"
}