{{ if or .URIPrefix .TopicWildcard}}
,
"filter" : [
{{if or .URIPrefix .TopicWildcard}}
  { "bool": { "should": [

  {{ template "contentFilterOnURIPrefix.tmpl" . }}
  {{ template "contentFilterOnTopicWildcard.tmpl" . }}

    ]}
  }
 {{end}}
]
{{end}}
