,
"filter" : [
{
  "bool": {
    "must": [
      {
        "bool": {
          "should": [
            {{ template "contentTypeFilter.tmpl". }}
          ]
        }
      },
      {
        "bool": {
          "should": [
            {
              "range": {
                "release_date": {
                  "gte": {{.ReleasedAfter.ESString}},
                  "lte": {{.ReleasedBefore.ESString}}
                }
              }
            }
          ]
        }
      }
      {{if or .URIPrefix .TopicWildcard .Topic}}
      , {
        "bool": {
          "should": [
            {{ template "topicFilters.tmpl". }}
            {{ template "contentFilterOnURIPrefix.tmpl". }}
            {{ template "contentFilterOnTopicWildcard.tmpl". }}
          ]
        }
      }
      {{ end }}
      {{ if .PopulationTypes }}
      , {
        "bool": {
          "should": [
            {{ template "populationTypeFilters.tmpl". }}
          ]
        }
      }
      {{ end }}
      {{ if .Dimensions }}
      , {
        "bool": {
          "must": [
            {{ template "dimensionsFilters.tmpl". }}
          ]
        }
      }
      {{ end }}
      {{ if .DatasetIDs }}
      , {
        "bool": {
          "should": [
            {{ template "datasetFilters.tmpl". }}
          ]
        }
      }
      {{ end }}
      ]
    }
  }
]
