"dis_max": {
      "queries": [
        {
          "bool": {
            "should": [
              {
                "match": {
                  "title.title_no_dates": {
                    "query": "{{.Term}}",
                    "boost": 10.0,
                    "minimum_should_match": "1<-2 3<80% 5<60%"
                  }
                }
              },
              {
                "match": {
                  "title.title_no_stem": {
                    "query": "{{.Term}}",
                    "boost": 10.0,
                    "minimum_should_match": "1<-2 3<80% 5<60%"
                  }
                }
              },
              {
                "multi_match": {
                  "query": "{{.Term}}",
                  "fields": [
                    "title^10",
                    "edition",
                    "downloads.content^1"
                  ],
                  "type": "cross_fields",
                  "minimum_should_match": "3<80% 5<60%"
                }
              },
              {
                "multi_match": {
                  "query": "{{.Term}}",
                  "fields": [
                    "title^10",
                    "summary",
                    "metaDescription",
                    "edition",
                    "downloads.content^1",
                    "pageData^1",
                    "keywords"
                  ],
                  "type": "phrase",
                  "boost": 10.0,
                  "slop": 2
                }
              }
            ]
          }
        },
        {
          "multi_match": {
            "query": "{{.Term}}",
            "fields": [
              "summary",
              "metaDescription",
              "downloads.content^1",
              "pageData^1",
              "keywords"
            ],
            "type": "best_fields",
            "minimum_should_match": "75%"
          }
        },
        {
          "match": {
            "keywords": {
              "query": "{{.Term}}",
              "operator": "AND",
              "boost": 10.0
            }
          }
        },
        {
          "multi_match": {
            "query": "{{.Term}}",
            "fields": [
              "cdid",
              "dataset_id",
              "uri"
            ]
          }
        },
        {
          "match": {
            "searchBoost": {
              "query": "{{.Term}}",
              "operator": "AND",
              "boost": 100.0
            }
          }
        }
      ]
    }