{ {{/* count query */}}

"query" : {
    "bool" : {
      "must" : {
        {{- if .Term}}
            {{- template "coreQuery.tmpl" .}}
        {{- else}}
            {{- template "matchAll.tmpl" .}}
        {{- end}}
      }
      {{-  if .URIPrefix }}
        ,"filter": [{
	        "prefix": {
                "uri": "{{.URIPrefix}}"
            }}
        ]
	  {{end}}
    }
   },
  "size": 0,
  "aggregations": {
		"topic": {
			"terms": {
				"size": 1000,
  			"field":"{{.AggregationFields.Topics}}"
			}
		}
  }
}