,
"filter" : [
{
  "bool": {
    "must": [
      {
        "bool": {
          "should": [
            {{ template "contentTypeFilter.tmpl". }}
          ]
        }
      }
      {{if .URIPrefix}}
      , {
        "bool": {
          "should": [
            {{ template "contentFilterOnURIPrefix.tmpl". }}
          ]
        }
      }
      {{ end }}
      {{ if .PopulationType }}
      , {
        "bool": {
          "should": [
            {{ template "populationTypeFilters.tmpl". }}
          ]
        }
      }
      {{ end }}
      {{ if .Dimensions }}
      , {
        "bool": {
          "should": [
            {{ template "dimensionsFilters.tmpl". }}
          ]
        }
      }
      {{ end }}
      ]
    }
  }
]
