{{range $i,$dim := .Dimensions}}
    {{ if $dim.Name }}
    {
        "match":{
            "dimensions.name": "{{$dim.Name}}"
        }
    },
    {{ end }}
    {
        "match":{
            "dimensions.label": "{{$dim.Label}}"
        }
    },
    {
        "match":{
            "dimensions.raw_label": "{{$dim.RawLabel}}"
        }
    }
{{if $i}},{{end}}
{{end}}
