{ {{/* count query */}}
{{if .CountEnable}}
"query" : {
    "bool" : {
      "must" : [{
                     {{- template "coreQuery.tmpl" .}}
             },{
             	"bool": {
             		"must": {
             			"exists": {
             				"field": "topics"
             			}
             		}
             	}
             }]
      }
   }
{{end}}
}