{ {{/* count query */}}
{{if .CountEnable}}
"query" : {
    "bool" : {
      "must" : [{
      {{- if .Term}}
        {{- template "coreQuery.tmpl" .}}
      {{- else}}
        {{- template "matchAll.tmpl" .}}
      {{- end}}
      },{
        "bool": {
            "must": {
                "exists": {
             	    "field": "topics"
             	}
            }
        }}
      ]
    }
}
{{end}}
}