{{/*  release_date(
                 get(Field.releaseDate, SortOrder.DESC),
                 get(Field._score, SortOrder.DESC)
         )
*/}}
"sort" : [{
       "releaseDate" : {
            "order" : "desc"
            }
    }, {
        "_score" : {
            "order" : "desc"
        }
    }]