{{ range $i, $e := .URIs }}
{{ if $i }},{{ end }}
{
  "bool": {
    "should": [
      {
        "match": {
          "uri": "{{ . }}"
        }
      },
      {
        "term": {
          "previous_uris": "{{ . }}"
        }
      }
    ]
  }
}
{{ end }}
