{{if .FilterOnFirstLetter  }}
   {
        "term": {
           "description.title.title_first_letter": "{{.FilterOnFirstLetter}}"
           }
   }
    {{if or .ReleasedBefore .ReleasedAfter .UriPrefix .Topic .TopicWildcard  .Upcoming .Published}},{{end}}
 {{end}}
