{{ if or .FilterOnLatest .FilterOnFirstLetter .ReleasedBefore .ReleasedAfter .UriPrefix .Topic .TopicWildcard .Upcoming .Published}}
,
"filter" : [
{{ template "contentFilterOnLatest.tmpl" . }}
{{ template "contentFilterOnFirstLetter.tmpl" . }}
{{if or .UriPrefix .Topic .TopicWildcard}}
  { "bool": { "should": [

  {{ template "contentFilterOnUriPrefix.tmpl" . }}
  {{ template "contentFilterOnTopic.tmpl" . }}
  {{ template "contentFilterOnTopicWildcard.tmpl" . }}

    ],
    "must":[
      {{ template "contentFilterOnReleaseDate.tmpl" .}}
    ]}
  }
    {{if or .Upcoming .Published}}
        ,
    {{end}}

 {{end}}

  {{if .Upcoming}}
    {{- template "contentFilterUpcoming.tmpl" . }}
  {{else if .Published}}
    {{- template "contentFilterPublished.tmpl" . }}
  {{end}}
]
{{end}}