{
  "bool": {
    "should": [
      {
        "bool": {
          "must_not": [
            {
              "term": {
                "description.published": true
              }
            },
            {
              "term": {
                "description.cancelled": true
              }
            }
          ]
        }
      },
      {
        "bool": {
          "must": {
            "term": {
              "description.cancelled": true
            }
          },
          "must_not": {
            "range": {
              "description.releaseDate": {
                "lte": "{{.Now}}"
              }
            }
          }
        }
      }
    ]
  }
}