{{ if or .FilterOnLatest .FilterOnFirstLetter .ReleasedBefore .ReleasedAfter .UriPrefix }}
,
"filter" : [
{{ if .FilterOnLatest }}
   {
        "term" : {
            "description.latestRelease" : true
        }
    }
    {{if or .FilterOnFirstLetter .ReleasedBefore .ReleasedAfter .UriPrefix}},{{end}}
{{end}}
 {{if .FilterOnFirstLetter  }}
   {
        "term": {
           "description.title.title_first_letter": "{{.FilterOnFirstLetter}}"
           }
   }
    {{if or .ReleasedBefore .ReleasedAfter .UriPrefix}},{{end}}
 {{end}}
  {{if or .ReleasedBefore .ReleasedAfter }}
     {"range" : {
             "description.releaseDate" : {
                 {{if .ReleasedAfter}}
                     "gte" : "{{.ReleasedAfter}}"
                 {{end}}
                 {{ if and .ReleasedBefore .ReleasedAfter }},{{end}}
                 {{if .ReleasedBefore}}
                     "lte" : "{{.ReleasedBefore}}"
                 {{end}}
             }
         }
      }
       {{if .UriPrefix}},{{end}}
  {{end}}
  {{if .UriPrefix}}
  { "prefix" : { "uri" : "{{.UriPrefix}}" } }
  {{end}}
]
{{end}}