{ {{/* count query */}}
"query" : {
    "bool" : {
      "must" : {
                 {{- if .Term}}
                     {{- template "coreQuery.tmpl" .}}
                  {{- else}}
                     {{- template "matchAll.tmpl" .}}
                  {{- end}}
             }
        {{template "countFilterLatest.tmpl" .}}
        }
   },
  "size": 0,
  "aggregations": {
  		"docCounts": {
  				"terms": {
  					"size": 1000,
  					"field":"{{.AggregationField}}"
			}
  		}
	}
}