{ {{/* count query */}}
    {{if .Index}}
        "index":"{{.Index}}"
    {{else}}
        "index":"ons"
    {{end}}
    {{if .Types}},"index":"ons", "type" : [{{range $i,$e := .Types}}{{if $i}},{{end}}"{{.}}"{{end}}]{{end}}
}