{
{{/* departments query */}}
  "size": 1,
  "query": {
    "match": {
      "terms": {
        "query": "{{.Term}}",
        "type": "boolean"
      }
    }
  },
  "highlight": {
    "pre_tags": [
      "<strong>"
    ],
    "post_tags": [
      "</strong>"
    ],
    "fields": {
      "terms": {
        "fragment_size": 0,
        "number_of_fragments": 0
      }
    }
  }
}