{{ if .FilterOnLatest }}
   {
        "term" : {
            "latestRelease" : true
        }
    }
    {{if or .FilterOnFirstLetter .ReleasedBefore .ReleasedAfter .URIPrefix .Topic .TopicWildcard .Upcoming .Published}},{{end}}
{{end}}