{{- if or .ReleasedBefore .ReleasedAfter }}
    {
    "range": {
         "releaseDate": {
             {{- if .ReleasedAfter}}
             "from": "{{.ReleasedAfter}}"
             {{- end}}
             {{- if and .ReleasedBefore .ReleasedAfter }},{{- end}}
             {{- if .ReleasedBefore}}
             "to": "{{.ReleasedBefore}}"
             {{- end}}
         }
     }
   }
 {{- end}}