{{/* //First letter skips non-letter character in the beginning. that's why sorting by first letter and then title
    first_letter(
            get(Field.title_first_letter, SortOrder.ASC),
            get(Field.title_raw, SortOrder.ASC),
            get(Field.releaseDate, SortOrder.ASC)
    ),*/}}
"sort" : [{
       "title.title_first_letter" : {
            "order" : "asc"
       }
    }, {
        "title.title_raw" : {
            "order" : "asc"
        }
    }, {
        "releaseDate" : {
        "order" : "asc"
        }
    }]